
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: papienfont;
    src: url(PinyonScript-Regular.ttf);
}
@font-face {
    font-family: italiana;
    src: url(Italiana-Regular.ttf);
}

.headitail{
    font-family: italiana;
}

.heading{
    font-family: "papienfont";
}


  /* On hover hide the borders */
  .Link:hover .borderb,
  .Link:hover .borderb {
    transform: scaleX(0);
  }
  
  /* Animate top border */
  .Link:hover .borderb:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    animation: animateTopBorder 0.3s forwards;
  }
  
  /* Animate bottom border */
  .Link:hover .borderb:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    animation: animateBottomBorder 0.3s forwards;
  }
  
  /* Animation keyframes */
  @keyframes animateTopBorder {
    0% {
      width: 0;
      transform: translateX(-100%);
    }
    100% {
      width: 100%;
      transform: translateX(0);
    }
  }
  
  @keyframes animateBottomBorder {
    0% {
      width: 0;
      transform: translateX(100%);
    }
    100% {
      width: 100%;
      transform: translateX(0);
    }
  }
  