
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: papienfont;
    src: url(PinyonScript-Regular.ttf);
}
@font-face {
    font-family: italiana;
    src: url(Italiana-Regular.ttf);
}

.headitail{
    font-family: italiana;
}

.heading{
    font-family: "papienfont";
}
.footer{
  /* box-shadow: ; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}